<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MitchJourn_e.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MitchJourn_e.Properties.Settings>
            <setting name="ImagePromptWeight" serializeAs="String">
                <value>.35</value>
            </setting>
            <setting name="Iter" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>454</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>454</value>
            </setting>
            <setting name="Steps" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Seed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Scale" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MainPath" serializeAs="String">
                <value>C:\stable-diffusion-main</value>
            </setting>
            <setting name="TextToImagePath" serializeAs="String">
                <value>scripts\txt2img.py</value>
            </setting>
            <setting name="ImageToImagePath" serializeAs="String">
                <value>scripts\img2img.py</value>
            </setting>
            <setting name="ConfigPath" serializeAs="String">
                <value>configs\stable-diffusion\v1-inference.yaml</value>
            </setting>
            <setting name="ModelPath" serializeAs="String">
                <value>model 1.3.ckpt</value>
            </setting>
            <setting name="SlowMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gfpganScale" serializeAs="String">
                <value>.5</value>
            </setting>
            <setting name="gfpganUprezScale" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="gfpganBgTileSize" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="SamplerType" serializeAs="String">
                <value>k_euler_a</value>
            </setting>
            <setting name="UseFullPrecision" serializeAs="String">
                <value>1</value>
            </setting>
        </MitchJourn_e.Properties.Settings>
    </userSettings>
</configuration>